@import se.lu.nateko.cp.viewscore.ImportVersions._

@(title: String)(customHeader: Html)(body: Html)
<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://static.icos-cp.eu/css/bootstrap/@{bootstrapCSS}/icos-bootstrap.css">
		<link rel="stylesheet" href="https://static.icos-cp.eu/constant/fontawesome/@{fontAwesome}/css/all.min.css">

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		@customHeader

		<title>@title</title>
	</head>

	<body>
		@body
	</body>

</html>
