@import se.lu.nateko.cp.cpauth.core.PublicAuthConfig

(conf: PublicAuthConfig, hasCpLogin: Boolean)
@AtmoAccessPage("Request access to ICOS footprint services"){
}{
	<h1 class="display-6 fw-bold text-center" style="color:#535458;">ATMO-ACCESS</h1>
	<h2 style="color:#535458;">STILT station footprint calculation and viewing services</h2>

	<p class="text-center text-muted">The services are provided by ICOS Carbon Portal in the context of ATMO-ACCESS project. Therefore an ATMO-ACCESS login is required to use the services.</p>

	<div class="row g-4 py-5 row-cols-1 row-cols-lg-4 justify-content-center">

		<div class="card" >
			<div class="card-body text-secondary">
				<h5 class="card-title">STILT Model Run</h5>
				<p><img src="/static/img/data-curation.png" alt="logo" width="30%"></p>
				<p class="card-text">Login and proceed to STILT model run</p>
				<div class="inner"><a href="/request" class="btn btn-danger" role="button">Login</a></div>
			</div>
		</div>

		<div class="card" >
			<div class="card-body text-secondary">
				<h5 class="card-title">STILT Products and Information</h5>
				<p><img src="/static/img/data-access.png" alt="logo" width="30%"></p>
				<p class="card-text">Login and proceed to STILT results viewer</p>
				<div class="inner"><a href="/data-access" class="btn btn-danger" role="button">Access Data</a></div>
			</div>
		</div>

		<div class="card">
			<div class="card-body text-secondary">
				<h5 class="card-title">Support</h5>
				<p><img src="/static/img/general-support.png" alt="logo" width="30%"></p>
				<p class="card-text">Do you have questions regarding the STILT products in ATMO-ACCESS?</p>
				<div class="inner"><a href="/support" class="btn btn-danger" role="button">Get Support</a></div>
			</div>
		</div>
	</div>
}
