@import se.lu.nateko.cp.cpauth.core.PublicAuthConfig
@import se.lu.nateko.cp.stiltweb.AtmoAccessConfig

@(authConf: PublicAuthConfig, atmoConf: AtmoAccessConfig)
@AtmoAccessPage("STILT Services - Log in through ATMO-ACCESS"){
	<script>
		function atmoAccessLoginUrl(targetLastSegment){
			const cliendId = "@{atmoConf.ssoClientId}"
			const authEndpointUrl = "@{atmoConf.openidEndpointUrl}auth"
			const redirectUri = "https://@{authConf.authHost}/oauth/atmoAccess"
			const targetUrl = window.location.origin + '/' + targetLastSegment + '/'
			return (
				authEndpointUrl + '?client_id=' + encodeURIComponent(cliendId) + '&response_type=code&scope=openid&redirect_uri=' +
				encodeURIComponent(redirectUri) + '&state=' + encodeURIComponent(targetUrl)
			)
		}
		window.onload = function(){
			document.getElementById('stiltWorkerLink').href = atmoAccessLoginUrl('worker')
			document.getElementById('stiltViewerLink').href = atmoAccessLoginUrl('viewer')
		}
	</script>
	<style>
		.stilt-action{
			color: #0dcaf0;
			font-size: xx-large;
		}
		.card{
			margin-right: 10px;
		}
		h1,h2{
			color:#535458
		}
	</style>
}{
	<h1 class="text-center">STILT station footprint calculation and viewing services</h2>

	<p class="text-center text-muted">
		These services are provided by ICOS Carbon Portal in the context of ATMO-ACCESS project;
		therefore, an ATMO-ACCESS login is required to use these services.
	</p>

	<div class="row g-4 py-5 row-cols-1 row-cols-lg-4 justify-content-center">

		<div class="card" >
			<div class="card-body text-secondary">
				<h2 class="h5 card-title d-flex align-items-center">
					<i class="fas fa-calculator stilt-action me-2"></i>
					<span>STILT Calculation Service</span>
				</h2>
				<p class="card-text">Log in and go to the STILT calculation service</p>
				<div class="inner"><a id="stiltWorkerLink" href="" class="btn btn-info" role="button">Log in</a></div>
			</div>
		</div>

		<div class="card" >
			<div class="card-body text-secondary">
				<h2 class="h5 card-title d-flex align-items-center">
					<i class="fas fa-search stilt-action me-2"></i>
					<span>STILT Results Viewer</span>
				</h2>
				<p class="card-text">Log in and go to the STILT results viewer</p>
				<div class="inner"><a id="stiltViewerLink" href="" class="btn btn-info" role="button">Log in</a></div>
			</div>
		</div>

		<div class="card">
			<div class="card-body text-secondary">
				<h2 class="h5 card-title d-flex align-items-center">
					<i class="fas fa-question-circle stilt-action me-2"></i>
					<span>Documentation and Support</span>
				</h2>
				<p class="card-text">Do you have questions regarding STILT calculation service or results viewer?</p>
				<div class="inner">
					<a href="https://www.icos-cp.eu/about-stilt-calculator" class="btn btn-info mb-1" role="button">
						<i class="fas fa-calculator"></i> Calculation help</a>
					<a href="https://www.icos-cp.eu/about-stilt-viewer" class="btn btn-info mb-1" role="button">
						<i class="fas fa-search"></i> Viewer help</a>
				</div>
			</div>
		</div>
	</div>
}
