@(conf: se.lu.nateko.cp.cpauth.core.PublicAuthConfig)
@CpCommonPage("Carbon Portal's STILT results visualization service", cpauthHostOpt = Some(conf.authHost), bootstrapVersion = Some(5)){

	<script src="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.js"></script>
	<!--<script src="https://unpkg.com/leaflet@@1.0.3/dist/leaflet.js"
		integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
		crossorigin="">
	</script> -->

	<script src="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/leaflet.markercluster.js"></script>
	<!--<script src="https://unpkg.com/leaflet.markercluster@@1.0.5/dist/leaflet.markercluster.js"></script> -->

	<link href="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
	<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@@1.0.3/dist/leaflet.css"
		integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
		crossorigin=""/>-->

	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.Default.css" rel="stylesheet" />
	<!--<link href="https://unpkg.com/leaflet.markercluster@@1.0.5/dist/MarkerCluster.Default.css" rel="stylesheet" />-->

	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.css" rel="stylesheet" />
	<!--<link href="https://unpkg.com/leaflet.markercluster@@1.0.5/dist/MarkerCluster.css" rel="stylesheet" />-->

	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous">-->
	<link rel="stylesheet" href="//static.icos-cp.eu/constant/rc-datepicker/5.0.10/style.min.css">

	<style type="text/css">

	.leaflet-container, .leaflet-clickable, .leaflet-interactive {
		cursor: crosshair !important;
	}
	.cp-pointer {
		cursor: pointer;
	}
	span.cp-help{
		cursor: help;
	}
	.cp-dpi-error div.react-datepicker-input {
		background: #ebccd1 !important;
	}
	.cp-dpi-error i.icon-rc-datepicker_calendar {
		color: black !important;
	}

	</style>
}{
	<div id="main"></div>
	<script src="worker.js"></script>
}

