/local.conf
*.class
*.log

# Node.js specific
node_modules/
src/main/resources/bundle.js

# sbt specific
.cache/
.history/
/target/
/stiltcluster/target/
/project/target/
/project/project/

# Scala-IDE specific
.scala_dependencies
.cache-main
.worksheet
.project
.settings/
.classpath
.cache

#Front end specific
/src/main/resources/www/stilt.js
/src/main/resources/www/worker.js
/src/main/resources/www/viewer.js

nohup.out
/outText.txt
*.*~
\#*\#

.idea
/bin/
/stiltcluster/bin/
