/local.conf
*.class
*.log

# Node.js specific
node_modules/
/package-lock.json
src/main/resources/bundle.js

# sbt specific
.cache/
.history/
/target/
/stiltcluster/target/
/project/target/
/project/project/

# Scala-IDE specific
.scala_dependencies
.cache-main
.worksheet
.project
.settings/
.classpath
.cache

#Front end specific
src/main/resources/www/

nohup.out
/outText.txt
*.*~
\#*\#

.idea
/.cache-tests
/bin/
/stiltcluster/bin/
/debug_script.sh
/fake_log_output.sh
/fakejob.txt
