/local.conf
*.class
*.log

# Node.js specific
node_modules/
src/main/resources/bundle.js

# sbt specific
.cache/
.history/
/target/
/stiltcluster/target/
/project/target/
/project/project/

# Scala-IDE specific
.idea
.bloop
.metals
.vscode
.bsp
metals.sbt

nohup.out
/outText.txt
*.*~
\#*\#

/debug_script.sh
/fake_log_output.sh
/fakejob.txt
